*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-weight: 700;
    color: #fff;
}
body{
    background: url(6855409-download-wallpapers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.478);
}
.form{
    width: 400px;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
    backdrop-filter: blur(4px);
}
.remember{
    display: flex;
    justify-content: space-between;
}
.input-btn{
    background: transparent;
    color: #fff;
}
.input-btn:focus{
    background-color: transparent;
    color: #fff;
    outline: none;
    box-shadow: none;
}
.input-btn::placeholder{
    color: #fff;
}